@page
<!DOCTYPE html>
<html>
<head>
	<title>NeoGen Laptop Shop</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#" style="color: red; margin-top:0px;"> NeoGen</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="/Index" style="margin-top:8px;">Home</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#" style="margin-top:8px;">Laptops</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#" style="margin-top:8px;">About</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#" style="margin-top:8px;">Contact</a>
	      </li>
	    </ul>
		<div style="float: right;">
		<form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" style="width:200px; height:40px;  margin-top:10px; margin-left:450px;">
        <button class="btn btn-outline-success float-right" type="submit" style="width:80px; height:40px; margin-top:10px; margin-left:5px;" >Search</button>
		
      </form>
	  </div>
	  </div>
	</nav>

	<div class="container-fluid mt-3">
		<div class="row">
			<div class="col-md-3">
				<h3>Categories</h3>
				<ul class="list-group">
					<li class="list-group-item"><a href="#">All Laptops</a></li>
					<li class="list-group-item"><a href="#">Gaming Laptops</a></li>
					<li class="list-group-item"><a href="#">Business Laptops</a></li>
					<li class="list-group-item"><a href="#">2-in-1 Laptops</a></li>
				</ul>
			</div>
			<div class="col-md-9">
				<h3>Laptops</h3>
				<div class="row">
					<div class="col-md-4 mb-3">
						<div class="card">
							<img class="card-img-top" src="https://www.lenovo.com/medias/lenovo-laptops-thinkpad-x1-nano-gen-2-series.png?context=bWFzdGVyfHJvb3R8NDY0MzU2fGltYWdlL3BuZ3xoNzkvaGViLzE0MzMyMDQzMTk4NDk0LnBuZ3w2Yzk4ZTU1ZWJlOTZhOWI3YzRiM2RmZmZkZTUwZGZmZmU2OTgyNWFkMDVmZjgxOTEyYzExY2ZkZTg4NzBjYzI5&w=1920" alt="Lenovo ThinkPad T490">
							<div class="card-body">
								<h5 class="card-title">ThinkPad X1 Nano Gen 2 (13, Intel)</h5>
								<p class="card-text">Brand: Lenovo</p>
								<p class="card-text">Processor: 13, Intel</p>
								<p class="card-text">RAM: 8RAM GB</p>
								<p class="card-text">Storage: 1TB</p>
								<p class="card-text">Screen Size: (2160 x 1350)100% sRGB inches</p>
								<h6 class="card-subtitle mb-2 text-muted">Price: Rs.250000</h6>
								<a href="#" class="btn btn-primary">Add to Cart</a>
   
							</div>
						</div>
					</div>
					<div class="col-md-4 mb-3">
						<div class="card">
							<img class="card-img-top" src="https://www.lenovo.com/medias/lenovo-laptops-thinkpad-x13-gen-3-13-intel-series.png?context=bWFzdGVyfHJvb3R8NDUyNDY0fGltYWdlL3BuZ3xoOTEvaGEyLzE0MjAwNzExMzQ4MjU0LnBuZ3xlNjk0MTkyOThkMzcyNzY5NGRiMzI4OThiNDM1MDFkNzMwMmZjMmE1Mzg3OGU0ZjY4OTA3OTIyYzk2ZjEzYzEz&w=1920" alt="Lenovo ThinkPad T490">
							<div class="card-body">
								<h5 class="card-title">Acer Nitro 2 Gen 8 (13, Intel) with Office</h5>
								<p class="card-text">Brand: Lenovo</p>
								<p class="card-text">Processor: 13, Intel</p>
								<p class="card-text">RAM: 4RAM GB</p>
								<p class="card-text">Storage: 1TB</p>
								<p class="card-text">Screen Size: (2160 x 1350)100% sRGB inches</p>
								<h6 class="card-subtitle mb-2 text-muted">Price: Rs.200000</h6>
								<a href="#" class="btn btn-primary">Add to Cart</a>
   
							</div>
						</div>
					</div>
					<div class="col-md-4 mb-3">
						<div class="card">
							<img class="card-img-top" src="https://www.lenovo.com/medias/lenovo-laptops-thinkpad-t14-gen-3-14-amd-series.png?context=bWFzdGVyfHJvb3R8NDQ5MTc4fGltYWdlL3BuZ3xoM2UvaDdjLzEzNzEyNzM3NTk5NTE4LnBuZ3xkZGYxNDI1NTVkZDFlMjJkZjViNWUxNjU2MTcyZmViMTNmNWRjOGFiZmM4ODFiYmYyM2M4OTgwZjU4NjgwNDdm&w=1920" alt="Lenovo ThinkPad T490">
							<div class="card-body">
								<h5 class="card-title">Asus Vivobook 15 Gen 10(15, Intel)</h5>
								<p class="card-text">Brand: Asus</p>
								<p class="card-text">Processor: 15, Intel</p>
								<p class="card-text">RAM: 8RAM GB</p>
								<p class="card-text">Storage: 1TB</p>
								<p class="card-text">Screen Size: (2160 x 1350)100% sRGB inches</p>
								<h6 class="card-subtitle mb-2 text-muted">Price: Rs.350000</h6>
								<a href="#" class="btn btn-primary">Add to Cart</a>
   
							</div>
						</div>
					</div>
				</div>
			</div>

</body>
</html>

